body{
  background-color: #142044;
}
.navbar{
  text-align: center;
  background: linear-gradient(to right, #142044 , #1B2854);
  height: 12vh;
  color: white;
  width: 100%;
  display: inline-block;
}
.navIcon{
  height: 100%;
  display: inline-block;
}
.fa-chevron-circle-left{
  margin: 10px 8px;
  cursor: pointer;
}
.navBack{
  display: inline-block;
  font-size: 18px;
}

.overlay{
  height: 90vh;
  width: 100%;
  margin: 0 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  position: absolute;
}
.mainContainer{
  margin-top: 10vh;
  padding: 0 0;
  height: 90vh;
  width: 100%;
  background: url("../capitol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.row{
  margin: 0 0;
}

.mapDiv{
  /*height: 70vh;*/
  text-align: center;
  border: 5px solid white;
  border-radius: 5px;
  background-color: white;
  opacity: 1;
  padding: 0 0;
  margin-top: 40px;
  cursor: pointer;
  z-index: 2;
}
.repDiv > h3 {
  line-height: 100px;
  font-size: 48px;
}
.navTitle > h6 {
  font-size: 16px;
}

a{
  color: inherit;
}
a:hover{
  color: #6A6A6A;
}

.dParty{
  background-color: #90A0FC;
}

.rParty{
  background-color: #CC727B;
}

.iParty{
  background-color: #D6D589;
}

#repPhoto{
  width: 100%;
}
.infoHeader{
  font-weight: bolder;
}
