.navbar{
  text-align: center;
  background: #142044;
  background: linear-gradient(to right, #142044 , #1B2854);
  height: 10vh;
  color: white;
  width: 100%;
}
.navIcon{
  height: 100%;
  display: inline-block;
}
.fa-chevron-circle-left{
  margin: 20px 8px;
  cursor: pointer;
}
.navBack{
  display: inline-block;
  font-size: 18px;
  margin-bottom: 25px;
}
.overlay{
  height: 90vh;
  width: 100%;
  margin: 0 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  position: absolute;
}
.mainContainer{
  margin-top: 10vh;
  padding: 0 0;
  height: 90vh;
  width: 100%;
  background: url("../capitol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.row{
  margin: 0 0;
}

.repDiv{
  height: 30%;
  text-align: center;
  border: 5px solid white;
  border-radius: 5px;
  background-color: white;
  opacity: 1;
  padding: 0 0;
  margin-top: 100px;
  cursor: pointer;
  z-index: 2;
}
.repDiv > h3 {
  line-height: 100px;
  font-size: 48px;
}

.repDiv:hover{
  opacity: 0.8;
  background-color: #6A6A6A;
  border: 5px solid #6A6A6A;
  color: white;
  transition: all ease .4s;
}

a{
  color: inherit;
}
a:hover{
  color: #6A6A6A;
}
